@import "../../constants/styles.scss";
@import "../../constants/fonts.scss";

.table {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px;

  .table-header,
  .table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .table-header {
    color: $light-blue;

    &-item {
      @include text-medium;
    }
  }

  .table-row {
    background-color: $cyanLowOpacity;
    border-radius: 10px;
  }

  .table-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  span {
    @include text;
    flex: 1;
    text-align: left;
  }
}


.table__actions {

  &--width {
    max-width: 100px;
  }
}
