.table {
  display: flex;
  flex-direction: column;

  .table-header,
  .table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .table-header {
    font-weight: bold;
  }

  .table-row {
    &:nth-child(even) {
      background-color: #f9f9f9;
    }
  }

  span {
    flex: 1;
    text-align: left;
  }
}
