@import "../../constants/styles.scss";
@import "../../constants/fonts.scss";

.table {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px;

  &-header,
  &-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  &-header {
    color: $light-blue;

    &-item {
      @include text-medium;
    }
  }

  &-row {
    background-color: $cyanLowOpacity;
    border-radius: 10px;
    padding: 10px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    &--without-data {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  span {
    @include text;
    flex: 1;
    text-align: left;
  }

  &__actions {
    &--width {
      max-width: 100px;
    }
  }
}
